/* Common codes start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary-color: #d3ad7f;
    --secondary-color: #13131a;
    --dark-color: #000;
    --light-color: #fff;
    --text-color: #Ccc;
}

body {
    background-color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
    color: var(--light-color);

    span {
        color: var(--primary-color);
    }
}

.text-light {
    color: var(--light-color);
}

.text-text {
    color: var(--text-color);
}

.a {
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 10px 30px;
    transition: .3s ease-in-out;

    &:hover {
        letter-spacing: 2px;
    }
}

.w-35 {
    width: 35%;
}

/* Common codes end */

/* Navbar start */
#navbar {
    background-color: var(--dark-color);
    border-bottom: .1rem solid rgba(255, 255, 255, .3);

    .nav-link {
        color: var(--light-color);
        position: relative;
        transition: .4s ease-in-out;

        &:hover {
            color: var(--primary-color);

            &::after {
                width: 100%;
            }

        }

        &::after {
            position: absolute;
            height: 2px;
            width: 0;
            left: 0;
            bottom: 0;
            background-color: var(--primary-color);
            content: "";
            transition: .4s ease-in-out;
        }
    }

    .btn-outline {
        border-color: var(--primary-color);
        color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color);
            color: var(--light-color);
        }
    }
}

/* Navbar end */

/* Header start */
#home {
    min-height: 100vh;
    background: url(../images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

/* Header end */

/* About Start  */
#about {
    .row {
        --bs-gutter-x: 0;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }

    .about-section {
        background-color: var(--secondary-color);

        p {
            line-height: 1.8;
        }
    }

}

/* About End  */

/* Menu Start*/
#menu {
    .menu-card {
        border: 0.1rem solid rgba(255, 255, 255, .3);
        transition: .3s ease-in-out;

        &:hover {
            background-color: var(--light-color);
            color: var(--dark-color);

            a {
                color: var(--dark-color);
            }
        }
    }
}

/* Menu End*/

/* Products Start */
#products {
    .product-card {
        border: 0.1rem solid rgba(255, 255, 255, .3);
        transition: .3s ease-in-out;
        
        .links {
            a {
                font-size: 20px;
                color: var(--light-color);
                border: 0.1rem solid rgba(255, 255, 255, .3);
                text-decoration: none;
                margin: 0 5px;
                padding: 10px;
                transition: .3s linear;

                &:hover{
                    background-color: var(--primary-color);
                }
            }
        }

        .stars {
            i {
                color: var(--primary-color);
            }
        }
    }
}

/* Products End */

/* Review Section Start */
#review {
    .review-card {
        border: 0.1rem solid rgba(255, 255, 255, .3);
        transition: .3s ease-in-out;
        
        .user {
            width: 80px;
        }

        .stars {
            i {
                color: var(--primary-color);
            }
        }
    }
}
/* Review Section End */